doctype html
html(lang="en")
	head
		title Edit Empleado
		meta(charset="utf-8")
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet")
		link(href="/css/main.css" rel="stylesheet")
		link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
		link(href='/css/animate.css' rel='stylesheet' type='text/css')
	body
		div(class="col-md-5 center-block no-float top-space text-left")
			h1 Edit Empleado
			form(method="post" action="/empleado/#{empleado.id}?_method=put" style="margin-top:1.5em;" enctype="multipart/form-data")
				div(class="form-group")
					label Nombre
					input(type="text" name="nombre" value="#{empleado.nombre}" placeholder="Nombre del Empleado" class="form-control")
				div(class="form-group")
					label Apellido
					input(type="text" name="apellido" value="#{empleado.apellido}" placeholder="Apellido del Empleado" class="form-control")
				div(class="form-group")
					label Empleado ID
					input(type="number" name="idEmpleado" value="#{empleado.id_empleado}" placeholder="ID del Empleado" class="form-control")
				div(class="form-group")
					label Direccion
					input(type="text" name="direccion" value="#{empleado.direccion}" placeholder="Direccion del Empleado" class="form-control")
				div(class="form-group")
					label Telofono
					input(type="numbre" name="telefono" value="#{empleado.telefono}" placeholder="Telefono" class="form-control")
				div(class="form-group")
					label Correo Electronico
					input(type="email" name="email" value="#{empleado.email}" placeholder="Correo Electronico" class="form-control")
				div(class="form-group")
					label Fecha de Ingreso
					input(type="text" name="fechaIngreso" value="#{empleado.fecha_ingreso}" placeholder="Fecha de Ingreso" class="form-control")
				div(class="form-group text-right")
					input(type="submit" class="btn btn-info" value="Actualizar")